.menu {
  height: 90px;
  background-color: #43806C;
}

.home {
  background: #DDDBCE url("../images/home/image-home.jpg") no-repeat center;
  background-size: cover;
}
.home .home__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 90px);
  padding-top: 160px;
}
.home .home__inner h1 {
  width: 516px;
}

/*******************/
.info {
  margin-top: -85px;
}
.info .info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  border-radius: 6px;
}
.info .info__inner .info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.info .info__inner .info__item .content {
  width: 274px;
}
.info .info__inner .info__item h5 {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.info .info__inner .info__item span {
  line-height: 20px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 405px;
  margin-top: 35px;
}
.box .block_1 {
  width: 598px;
  height: 358px;
  border-right: 1px solid rgba(199, 199, 199, 0.368627451);
}
.box .block_1 span {
  font-size: 13px;
  color: #43806C;
}
.box .block_1 p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 26px;
  width: 510px;
}
.box .block_1 h2 {
  margin-top: 32px;
  margin-bottom: 21px;
}
.box .block_1 a {
  font-size: 18px;
  color: #214E41;
  height: 30px;
  border-bottom: 1px solid #214E41;
  text-decoration: none;
}

.issues_inner {
  margin-top: 120px;
  width: 1200px;
  height: 490px;
}
.issues_inner .is_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 298px;
}
.issues_inner .is_top span {
  font-size: 13px;
  color: #43806C;
}
.issues_inner .is_top h2 {
  margin-top: 20px;
  margin-bottom: 34px;
}
.issues_inner .is_top .left {
  height: 298px;
  width: 600px;
}
.issues_inner .is_top p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.issues_inner .issues__bottom {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.issues_inner .issues__stat .num {
  display: block;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
  text-transform: uppercase;
}
.issues_inner .issues__stat .text {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: #214E41;
}
.issues_inner .issues__stat span {
  -webkit-transition: 400ms;
  transition: 400ms;
}
.issues_inner .num:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.easy {
  padding-top: 120px;
}
.easy .easy {
  background: url("../images/easy/easy.jpg");
  margin-top: 117px;
  width: 1300px;
  height: 523px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.easy .easy__item span {
  width: 114px;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05px;
  padding-top: 114px;
  text-align: left;
  color: #43806C;
  text-transform: uppercase;
}
.easy .easy__item h2 {
  width: 391px;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-top: 20px;
  margin-bottom: 34px;
  text-align: left;
  color: #214E41;
}
.easy .easy__item p {
  width: 491px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02px;
  margin-bottom: 24px;
  text-align: left;
  color: #757575;
}
.easy .easy__item a {
  width: 100px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02px;
  text-align: center;
  color: #214E41;
}

.proudly {
  margin-top: 128px;
  text-align: center;
}
.proudly .proudly h2 {
  margin-bottom: 128px;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  color: #214E41;
}
.proudly .proudly__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.proudly .proudly__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 248px;
          flex: 0 0 248px;
}
.proudly .proudly__block {
  gap: 124px;
}
.proudly .proudly__block img {
  height: 60px;
  width: 146px;
}

.about_up {
  margin-top: 129px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.about_up .about_1 {
  width: 355px;
}
.about_up .about_up span {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  color: #43806C;
}
.about_up .about_up p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #214E41;
}

.footer {
  background-color: #214E41;
}
.footer .footer_parent {
  height: 70vh;
}
.footer .footer_child {
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
.footer .brella_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 592px;
}
.footer .brella {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .brella_right {
  width: 355px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footer_input input {
  background-color: #214E41;
  border: 1px solid #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer .footer_input input::-webkit-input-placeholder {
  color: #fff;
  padding-left: 20px;
}
.footer .footer_input input::-moz-placeholder {
  color: #fff;
  padding-left: 20px;
}
.footer .footer_input input:-ms-input-placeholder {
  color: #fff;
  padding-left: 20px;
}
.footer .footer_input input::-ms-input-placeholder {
  color: #fff;
  padding-left: 20px;
}
.footer .footer_input input::placeholder {
  color: #fff;
  padding-left: 20px;
}
.footer .brella_right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .div_join_brella li {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
  list-style: none;
}
.footer .div_company li {
  margin-top: 15px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}
.footer .div_join_brella h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .div_company h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .brella_right span {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer .footer_input input {
  height: 52px;
  width: 300px;
}
.footer .parent_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 30px auto;
}
.footer .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer_bottom span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
}

span {
  color: #FFFFFF;
}